#######################################
# Homing config
#######################################

[gcode_macro _HOME_X]
gcode:
    # Always use consistent run_current on A/B steppers during sensorless homing
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    {% set HOME_CURRENT = 1 %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}

    # Home
    G28 X
    # Move away
    G91 # set relative positioning   
    G1 X-10 F1200
    G90 # set absolute positioning  
    
    # Wait just a second… (give StallGuard registers time to clear)
    G4 P1000
    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}

[gcode_macro _HOME_Y]
gcode:
    # Set current for sensorless homing
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    {% set HOME_CURRENT = 1 %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}

    # Home
    G28 Y
    # Move away
    G91 # set relative positioning    
    G1 Y-10 F1200
    G90 # set absolute positioning    

    # Wait just a second… (give StallGuard registers time to clear)
    G4 P1000
    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}

[gcode_macro _HOME_Z]
gcode:
    # params
    {% set z_endstop_x = 150|float %}
    {% set z_endstop_y = 150|float %}

    # home x and y if not homed or in params

    {% if "x" not in printer.toolhead.homed_axes %}
        G28 X
    {% endif %}
    {% if "y" not in printer.toolhead.homed_axes %}
        G28 Y
    {% endif %}

    G90 # set absolute positioning   
    G0 X{z_endstop_x} Y{z_endstop_y} F15000 # move over z_endstop
    G28 Z # Home Z
    {% if not printer.quad_gantry_level.applied %}
        quad_gantry_level RETRIES=0
        G0 X{z_endstop_x} Y{z_endstop_y} F15000 # move over z_endstop
        G28 Z # Home Z
    {% endif %}
    G0 Z10 F12000 # lift nozzle

[homing_override]
gcode:
  {% set z_hop = 10|float %}

  {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

  G90 # set absolute positioning    

  {% if "z" in printer.toolhead.homed_axes and printer.toolhead.position.z < z_hop %}
    G0 Z{z_hop} F1500 # move nozzle to a safe z heigth
  {% endif %}

  {% if "x" in printer.toolhead.homed_axes and "y" in printer.toolhead.homed_axes %}
    G0 X{printer.toolhead.axis_maximum.x - 10} Y{printer.toolhead.axis_maximum.y - 10} F15000 # move nozzle to a safe z heigth
  {% endif %}
 
  {% if home_all or 'X' in params %}
    _HOME_X
  {% endif %}
  
  {% if home_all or 'Y' in params %}
    _HOME_Y
  {% endif %}
  
  {% if home_all or 'Z' in params %}
    _HOME_Z
  {% endif %}